<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 th:text="'Bestellung für '+ ${session.user.firstname} + ' ' +  ${session.user.lastname} + ' (' + ${session.user.nickname} + ') abgeschlossen.'"></h3>
<span th:text="${bestelltext}"></span>

</body>
</html>