<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Schritt 4: Griff auswählen!</h3>
<ul th:each="g : ${griff}">
    <li>
        <a th:href="'./bestellen?griff=' + ${g}">
            <span th:text="${g}"></span>
        </a>
    </li>
</ul>

</body>
</html>