<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Schritt 1: Lenkertyp auswählen!</h3>
<ul th:each="l : ${lenker}">
    <li><a th:href="'./material?lenkertyp=' + ${l}">
        <span th:text="${l}"></span>
    </a>
    </li>
</ul>
</body>
</html>