<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Schritt 2: Material auswählen!</h3>
<ul th:each="m : ${material}">
    <li>
        <a th:href="'./schaltung?material=' + ${m}">
            <span th:text="${m}"></span>
        </a>
    </li>
</ul>

</body>
</html>