<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Schritt 3: Schaltung auswählen!</h3>
<ul th:each="s : ${schaltung}">
    <li>
        <a th:href="'./griff?schaltung=' + ${s}">
            <span th:text="${s}"></span>
        </a>
    </li>
</ul>

</body>
</html>