<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h4 th:text="'Hello, ' + ${session.user.firstname} + ' ' +  ${session.user.lastname} + '!'"></h4>
<p th:text="'Your new nickname is ' + ${session.user.nickname} + '.'"/>

<a href="/config/lenker">Fortfahren</a>


</body>
</html>